.action-buttons ion-button {
  height: 70px;
  width: 70px;
  font-size: x-large;
  --border-radius: 35px;
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
  margin: 10px;
}
.action-buttons ion-button.match {
  --background: #333;
  --background-activated: rgb(85, 85, 85);
  --background-focused: #555;
}
.action-buttons ion-button.unmatch {
  --background: rgb(228, 135, 135);
  --background-activated: rgb(212, 75, 75);
  --background-focused: rgb(216, 84, 84);
}
